/*HEADER*/
.heading{
    color: whitesmoke;
    font-family: Algerian;
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px lightslategray;
}


.header{
    display: flex;
    align-items: center;
    background-color: hsl(218, 28%, 13%);
    height: 110px;
}

/*Responsive header*/

@media only screen and (max-width: 599px){
    .heading{
        font-size: 2rem;
    }
}

/*Navbar*/

.container-bg{
    background-color: black;
}
.navbar{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: .25rem;
    padding-bottom: .25rem;
    overflow-x: auto;
}

.nav-links{
    color: #fff;
    padding: .5rem;
    margin: 0 4rem 0 4rem;
    font-size: 1.5rem;
}

.nav-links:hover{
    color:lightslategray;
}

a{
    text-decoration: none;
}


/*MAIN*/

.main{
    text-align: center;
    background-color: hsl(217, 28%, 15%);
}

img.employees {
   max-width: 100%;
   margin-top: 4rem;
}

h2{
   font-size: 3rem;
   padding-top: 1rem;
   padding-bottom: 1rem;    
   font-weight: 600;
   font-family: calibri;
}

h2,p{
   color: #fff;
}

p{
   font-size: 20px;
   font-weight: 300;
   line-height: 1.5em;
   padding-top: 1em;    
}
 
.get-started{
   background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
   border: transparent;
   border-radius: 25px;
   padding: 14px 55px;
   text-transform: capitalize;
   color: #fff;
   margin-bottom: 4rem;
}

.get-started:hover{
   font-size: 17px;
   border-color: transparent;
   padding: 15px 57px;
   transition:padding 1s ease-in-out,font-size 1s ease-in-out;
}


